attrs==19.1.0
backcall==0.1.0
bleach==3.3.0
branca==0.3.1
certifi==2023.7.22
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
folium==0.10.0
googlemaps==3.1.1
idna==3.7
ipykernel==5.1.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==3.1.4
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.11.2
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==2.0.3
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.0.2
nbconvert==6.5.1
nbformat==4.4.0
nltk==3.2.5
notebook==6.4.12
numpy==1.22.0
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pdfminer.six==20181108
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
pycryptodome==3.19.1
Pygments==2.15.0
pyparsing==2.4.2
pyrsistent==0.14.11
python-dateutil==2.8.0
pytz==2019.2
pywinpty==0.5.5
pyzmq==18.1.0
qtconsole==4.5.4
requests==2.32.0
Send2Trash==1.5.0
six==1.12.0
sortedcontainers==2.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.4.1
traitlets==4.3.2
urllib3==1.26.18
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
